.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 84%;
  max-width: 358px;
}

@media screen and (max-width: 725px) {
  .popup__content {
    max-width: 238px;
  }
}
