.general-input-auth {
  width: 100%;

  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  color: #CCC;
  padding-bottom: 10px;
  background-color: transparent;

  border: 0;
  border-bottom: 2px solid #CCC;
  outline: none;
}
.general-input-auth::placeholder {
  font-size: 14px;
  color: #CCC;
}